.primary{
    width: 100%;
    background: linear-gradient(to right,#66d1de, #de41f5);    
    border-radius: 22px;
    border:0px;
    color:#fff;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    max-width: 300px;
    height: 48px;
    cursor: pointer;
   
}
.disabledPrimary{
    width: 100%;
    background: #bababa;
    border-radius: 22px;
    border:0px;
    color:#fff;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    max-width: 300px;
    height: 48px;
    cursor: pointer;
   
}
.focused{
    background: -webkit-linear-gradient(#66d1de, #de41f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 21px;
    font-weight: bolder;
    letter-spacing: 5px,

}
.dashboardContent{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    flex-direction: column;
     /* padding-left: 5px;
    padding-right: 5px; */
    padding-top: 5px;
    padding-bottom: 5px;
    /* border: 1px solid gray; */
    border-radius: 12px;
}
.post{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-left: 7px;
    /* padding: 5px; */
    /* border-radius: 13px; */
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px; */
}
.postHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 5px; 
}
.postedBy{
    color:#000;
    font-size: 14px;
    font-weight: normal;padding-right: 5px;
    font-weight: 600;padding-left: 5px;
}
.date{
    font-size: 11px;
    font-weight: bold;
    color: #9c9e9d; padding-left: 5px;
}
.postQuestion{
    color:#000;
    font-size: 14px;
    padding:5px;
}
.alignStart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}
.bottomInteractions{
    padding-left: 3px;
    padding-right: 3px;
    align-items: center;justify-content: space-between;
    display:flex;
    flex-direction: row;cursor: pointer;
}
.postedByImage{
    border-radius: 30px / 2;
    object-fit: cover;
    background-color: #fff;
    margin-right: 5px;
    box-shadow:rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;


}
.modalStyle .ant-modal-content {
    /* background-color: #01579b; */
    border-radius: 10px;
    background-color:#fff;
  }
  .downVote{
    font-size: 22px;
color:#9c9e9d;
  }
  
  .upVote{
    height:22px;width: 30px;
    object-fit:contain;
    font-weight: lighter;
color: #9c9e9d;


  }
  .upVote:hover{
    transform: translate(0, -3px);
    color:#fcf104;
  }
  
  .answerGift{
    height:22px;width: 30px;
    object-fit:contain;
    font-weight: lighter;
color: #9c9e9d;

  }
  /* .answerGift:hover{
    transform: translate(0, -3px);
    color:#fcf104;
  } */
.answerGiftText{
    
        font-size: 12px;
        font-weight: bold;
        color: #000;
        padding-top: 5px;
    
}

/* .answerGiftText:hover{
    transform: translate(0, -3px);
    color:#fcf104;
  } */
  
.questionUpVote{
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}
.questionUpVote:hover{
    transform: translate(0, -3px);
    color:#00baf1;
    font-size: 28px;
  } 
  .questionUpVoted{
    color:#00baf1;
    font-size: 28px;
    font-weight: bold;
    padding-left: 10px;
  }

  .answerUpVote{
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
}
.answerUpVote:hover{
    transform: translate(0, -3px);
    color:#00baf1;
    font-size: 28px;
  } 
  .answerUpVoted{
    color:#00baf1;
    font-size: 28px;
  }
.sortModalItems{
    
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 14.6px;
        font-weight: 400;
width: 200px;
padding-left: 7px;
    background: #fff;border-radius: 4px;
}

.sortModalItems:hover{
    /* transform: translate(0, -3px); */
    color: #fff;
font-weight: 500;
background: linear-gradient(to right,#66d1de, #de41f5);    
    font-size: 16px;
  } 
.activeSortBy{
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 14.6px;
    font-weight: 400;
    width: 200px;
    background: linear-gradient(to right,#66d1de, #de41f5);    
color:#fff;
padding-left: 7px;
    border-radius: 4px;
}

  
.addGiftToQuestion {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 7px;
    /* border: 1px dashed #3f69e3; */
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    
}
.addGiftToQuestion:hover{
    transform: translate(0, -3px);
    color:#ff0800;
    font-size: 28px;
  } 
  .downVote:hover{
    transform: translate(0, 3px);
    color:#d90412;
  }
  .addGiftToAnswer{
        padding: 5px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        cursor: pointer;
        box-shadow:
            rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    
  }
  .addGiftToAnswer:hover{
    transform: translate(0, -3px);
    color:#ff0800;
    font-size: 25px;
  } 
  .giftedAnswer{
    color:#ff0800;
    font-size: 25px;
  }
  .votes{
    font-size: 13px;
    font-weight: bolder;
    letter-spacing: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    color:#9c9e9d;

  }
  .votesDiv{
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 7px;
       
  }
 .bountyAmount {
    font-size: 14px;
    font-weight: bold;
    color: #de41f5;
}
.bountyLogo{
    margin-right: 7px;
    font-size: 17px;
    font-weight: bold;
    color:#66d1de;

}
.postDropDownItem{
    height: 30px;
    width: 120px;
    text-align: left;padding-left: 10px;
    padding-top: 5px;
    color: #0248a3;border-radius: 2px;    font-weight: 400;


}
.postDropDownItem:hover{
   
    color: #fff;
    background-color: #0248a3;
    opacity: .9;
    font-weight: 500;
    
}
.postFooter{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        /* padding-left: 20px;
        padding-right: 20px; */
        width: 100%;
/* max-width: 500px; */
    }
    .viewAnswerButton{
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        padding: 10px;
        border-radius: 8px;   
    }
.viewAnswerButton:hover{
background-color:whitesmoke;
color: #fff;

}
.pulse {
    
    top: 35%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background: #de41f5;
    border: 2px solid #66d1de;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 0 0 2px #45237a,
            0 0 0 2px #56ff00;
}

.pulse:before,
.pulse:after {
    content: '';
    
    left: -30px;
    top: -30px;
    right: -30px;
    bottom: -30px;
    border: 2px solid #de41f5;
    border-radius: 50%;
    animation: animate 2s linear infinite
}

.pulse:after {
    animation-delay: 1s;
}