.main{
    min-height: 100vh;
    display: flex;
   justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 100vw;
    background-image: linear-gradient(to bottom left, #e839f6, #61d8de);

}